<div ng-cloak="">
    <md-content>       
           <md-autocomplete   md-no-cache="true"
                              md-selected-item="current.item" 
                              md-search-text="current.searchText"
                              md-items="item in ampFilter.filterByName(current.searchText)"                              
                              md-item-text="item.name"
                              placeholder="Item Name!">
                <md-item-template>
                    <span md-highlight-text="current.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No institution matching "{{current.searchText}}" were found.          
                </md-not-found>
            </md-autocomplete>

    </md-content>
</div>