<md-toolbar  ng-show="global.loaded" class="ng-hide md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <md-icon md-svg-icon="call:chat"></md-icon>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">Pharmacy Management</h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Administration
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="category">
                                Category
                            </md-button>
                        </md-menu-item>     
                        <md-menu-item>
                            <md-button ui-sref="department">
                                Department
                            </md-button>
                        </md-menu-item>     
                        <md-menu-item>
                            <md-button ui-sref="institution">
                                Institution
                            </md-button>
                        </md-menu-item>     
                        <md-menu-item>
                            <md-button ui-sref="webuser">
                                Webuser
                            </md-button>
                        </md-menu-item>     
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Pharmacy
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="pharmaceuticalitemcategory">
                                Category
                            </md-button>
                        </md-menu-item>     
                         <md-menu-item>
                            <md-button ui-sref="pharmaceuticalitemtype">
                                ATC Classification
                            </md-button>
                        </md-menu-item>     
                         <md-menu-item>
                            <md-button ui-sref="vtm">
                                Generic Names
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="vmp">
                                Products
                            </md-button>
                        </md-menu-item>
                         <md-menu-item>
                            <md-button ui-sref="amp">
                                Item Master
                            </md-button>
                        </md-menu-item>
                         <md-menu-item>
                            <md-button ui-sref="ampp">
                                Packs
                            </md-button>
                        </md-menu-item>
                          <md-menu-item>
                            <md-button ui-sref="measurementunit">
                                Measurement Unit
                            </md-button>
                        </md-menu-item>
                          <md-menu-item>
                            <md-button ui-sref="frequencyunit">
                                Frequency Unit 
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

        </div>
    </div>
</md-toolbar>