<div ng-cloak="">
    <md-content>       
           <md-autocomplete   md-selected-item="current.institution" 
                              md-search-text="searchText"
                              md-items="item in institutionFilter.filterByName(searchText)" 
                              md-item-text="item.name" md-min-length="2" 
                              placeholder="Type Institution Name!">
                <md-item-template>
                    <span md-highlight-text="institutionFilterText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No institution matching "{{searchText}}" were found.          
                </md-not-found>
            </md-autocomplete>

    </md-content>
</div>