<div ng-cloak="">
    <md-content>       
           <md-autocomplete   md-no-cache="true"
                              md-selected-item="autocomplete.institution" 
                              md-search-text="autocomplete.searchText"
                              md-items="item in dealerFilter.filterByName(autocomplete.searchText)" 
                              md-selected-item-change="selectedItemChange()"
                              md-item-text="item.name"
                              placeholder="Dealer Name!">
                <md-item-template>
                    <span md-highlight-text="autocomplete.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No institution matching "{{autocomplete.searchText}}" were found.          
                </md-not-found>
            </md-autocomplete>

    </md-content>
</div>